:root {
    --white-color: #fff;
    --text-color: #000;
    --base-color: #777;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}


.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}


.grid__col-4 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}


.round {
    margin: 8px;
    padding: 13px;
    border-radius: 50%;
    background-color: #446084;
    cursor: pointer;
}

#footer {
    width: 100%;
    background:#696969;
    height: 322px;
    margin-top:50px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}
#footer .logo img{
    position: relative;
    outline: none;
    border: none;
    height: 150px;
}
#footer .box .quick-menu {
    margin-top:40px;
}
#footer .box .quick-menu .item li{
    margin-bottom: 15px;
}
#footer .box .quick-menu .item li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}
#footer h3{
    font-size: 20px;
}
#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
    cursor: pointer;
}
.social-link a{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-top: 40px;
    font-size: 35px;
}
.social-link-facebook{
    color: #3b5998;
}
.social-link-instagram{
    color: #3f729b;
}
.social-link-twitter{
    color: #55acee;
}
.social-link-youtube{
    color: #cd201f;
}
.social-link a i:hover{
    color: #FFCCFF;
}

h2{
    position: relative;
    text-align: center;
    font-size: 30px;

}
   
.rating { 
    position: relative;
    right:675px;
    top: 20px;

  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: gray;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 40px;
  }
  
  .rating input:checked ~ label {
    color: rgb(143, 245, 0);
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: rgb(241, 173, 105);
  }.star{
    color: rgb(235, 44, 155);
    font-size: 30px;
}

.grid2 {
    margin-top: 100px;
    margin-left: 150px;
    font-size: 20px;
}
.grid3 p{
    margin-top: 0px;
    margin-left: 150px;
    font-size: 20px;
}
.grid4 p{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 25px;
    color: #cd1f1f;

}
.grid5 p{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
}
.grid6 p{
    margin-top: 0px;
    margin-left: 150px;
    font-size: 20px;
}
.grid7 p{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
}

.grid8 p{
    margin-top: 0px;
    margin-left: 150px;
    font-size: 20px;
}
.grid9 p{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
}
.grid10 p{
    margin-top: 0px;
    margin-left: 150px;
    font-size: 20px;
}
.grid11 p{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
}
.grid12 p{
    margin-top: 0px;
    margin-left: 150px;
    font-size: 20px;
}
.grid13 p{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 20px;
}
.grid14 p{
    margin-top: 0px;
    margin-left: 150px;
    font-size: 20px;
}
.grid15 p{
    margin-top: 15px;
    margin-left: 100px;
    font-size: 20px;
}

.grid16 p{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}

.grid17 p{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}

.grid18 p{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}
.grid19 p{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}

.intro{
 
   display: flex;
}

.intro-1{
    flex: 2;
}

.intro-2{
    margin-top: 90px;
    flex: 1;
}
